{sub_dirs, ["rel"]}.

{deps, [
    {lager, "2.1.0", {git, "https://github.com/basho/lager", {tag, "2.1.0"}}},
    {ranch, "1.1.0", {git, "https://github.com/ninenines/ranch", {tag, "1.1.0"}}},
    {smc, ".*", {git, "https://github.com/marianoguerra/smc.git", {branch, "master"}}},
    {rscbag, ".*", {git, "https://github.com/marianoguerra/rscbag.git", {branch, "master"}}}
]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{lib_dirs, ["deps"]}.
